.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.image {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 150px;
  font-size: 3rem;
  color: #010606;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 150px;
  font-size: 3rem;
  color: #010606;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 800px) {
  .right-arrow {
    right: 2%;
  }
}

@media (max-width: 800px) {
  .left-arrow {
    left: 2%;
  }
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
